<div class="row">
    <div class="col-md-12 copyright ">
        <div class="module">
            <small>Copyright © 2019 Tecnológico de Antioquia. Todos los derechos reservados. Designed by <a href="http://www.gobilingual.info/“ title=" visit="" go="" bilingual”="" rel="nofollow">www.gobilingual.info</a>.</small>
            <small><a href="https://www.joomla.org"> Joomla!</a> es Software libre publicado bajo la <a href="https://www.gnu.org/licenses/gpl-2.0.html"> Licencia Pública General de GNU.</a></small>
        </div>

        <div class="custom">
            <p style="text-align: left;"><strong>Dirección:</strong> Calle 78B No. 72A - 220 Medellín - Colombia - Suramérica&nbsp; <strong>Horario de atención al público</strong> 7:30 a.m. a 12:00 m. y&nbsp; de 1:00 p.m. a 5:30 p.m. de lunes a jueves, los viernes de 7:30 a.m. a 12:00 m. y 1:00 p.m. a 4:30 p.m. <strong>Copacabana:</strong> Carrera 50 n°50a - 59 <strong>Itaguí:</strong> Institución Educativa Simón Bolívar Calle 65 n° 46a - 95&nbsp;&nbsp;<strong>Teléfono PBX:</strong> (574) 444 37 00<br><strong>Correo electrónico exclusivo para recibir notificaciones judiciales: </strong>notificacionesjudiciales@tdea.edu.co&nbsp; <br><strong>Atención al Usuario:</strong>&nbsp;<a href="mailto:atencionalcliente@tdea.edu.co">atencionalcliente@tdea.edu.co</a>&nbsp;&nbsp;</p></div>

    </div>
</div>