<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
  <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
          <div class="sidebar-heading">Sistema de matricula</div>
          <div class="list-group list-group-flush">
              <a href="/" class="list-group-item list-group-item-action bg-light">Inicio</a>
            {{#if session.nombre}}
                {{#if session.rolAspirante }}
                    <a href="ver" class="list-group-item list-group-item-action bg-light">Ver Curso</a>
                    <a href="inscribir" class="list-group-item list-group-item-action bg-light">Inscribir</a>
                {{/if}}
                {{#if session.rolCoordinador}}
                    <a href="ver" class="list-group-item list-group-item-action bg-light">Ver Curso</a>
                    <a href="crear" class="list-group-item list-group-item-action bg-light">Crear Curso</a>
                    <a href="verinscritos" class="list-group-item list-group-item-action bg-light">Ver Inscritos</a>
                {{/if}}
            {{/if}}
          </div>
      </div>
